* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
button:hover, a:hover {
  cursor: pointer;
}
button {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
}
ul li::before {
  color: dodgerblue;
  content: "\2022";
  font-size: 4em;
  position: relative;
  top: 25px;
  padding-right: 7px;
}